<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Buy n' Sell</h1>
    <p class="lead">For NITK</p>
  </div>
</div>
<div class='container' id='marginTop'>
  <%= link_to("/login") do%>
    <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>Login</button>
  <%end%>
  <%= link_to("/signup") do%>
    <button type="button" class="btn btn-primary btn-lg btn-block" style='margin-bottom:1vh;'>Sign up</button>
  <%end%>
</div>
