#signupForm {
    background-color: white;
    border:1px solid black;
    margin-top: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#signupBanner {
    margin-top: 3vh;
}

#marginTop {
    margin-top: 3vh;
}