<div class='container' id='signupBanner'>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Shop</h1>
    </div>
  </div>
</div>
<div class='container'>
  <% @products.each do |product| %>
    <% @user = User.find_by(id: product.user_id)%>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag("/assets/product_images/#{product.image}",class:"card-img") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><b>Contact</b>:<%="#{@user.contact}"%></p>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
